@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/*  normalizacja układu strony*/
*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* podstawowa wielkośc frontu - 10px*/
html {
    font-size: 62.5%;   /* 10px */
    line-height: 1.6;
    height: 100%;
    overflow: hidden;
}
    
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Dosis', sans-serif;
    /*ustawienia pod efekt paralax*/
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Header */
#header {
    flex: 0 0 100%;
    width: 100vw;
    position: relative;
    overflow: hidden;
    padding: 30vw 0 5vw;
    transform-style: inherit;
    text-align: center;
    z-index: -1;
    color: white;
}

#header .content {
    margin-top: -180px;
}

#header > a {
    margin-top:6rem;
}

#header p {
    font-size: 3rem;
}
#header h1 {
    font-size: 7rem;
}

#header, #header:before {
    background: 50% 50% / cover;
}

#header:before {
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    min-height: 100vh;
    z-index: -2;
    content: '';
    background-image: url("/img/sky-sunset-beach-vacation-60217.jpg");
    background-size: cover;
    /*przesuwające się tło */
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
  /*  background-attachment: fixed;   statyczne tło */
}

/*Logo*/
.logo {
    display: flex;
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.logo:hover {
    opacity: .6;
    cursor: pointer;
}

.logo p {
    font-size: 1rem;
}

.logo > div {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left:  1rem;
}


/* Navbar */
#navbar {
    top: 0;
    left: 0;
    width: 100%;
    position: sticky;
    background: var(--light-color);
    z-index: 100;
}

#navbar >div  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem;
}
#navbar >div >a {
    display: flex;
    align-items: center;
}

#navbar >div >a div {
    text-align: left;
}

#navbar .nav-elements {
    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
}

#navbar .nav-elements * {
    margin: 0 .5rem;
}

#navbar .nav-elements span {
   display: flex;
   align-items: center;
   margin-left: 5%;
}

#navbar .nav-elements span:hover {
    opacity: .6;
    cursor: pointer;
}

#navbar ul {
    display: flex;
    font-size: 2rem;
}

#navbar ul li {
    padding: 0 1rem;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    border-bottom: 3px transparent solid;
    padding-bottom: .5rem;
    transition: border-color .5s;
}

#navbar ul li a:hover {
    border-color: var(--secondary-color);
}

#navbar ul li a.current {
    border-color: var(--primary-color);
}


#main {
    flex:1;
    display: flex;
    flex-direction: column;
}

#footer {
    flex : 0 0 3rem;
    padding: .8rem;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* recommended-directions */
#recommended-directions {
    background: rgb(226, 232, 236);
}

.recommended-directions {
    position: relative;
    width: 100%;
    text-align: left;
}


.recommended-directions *  {
    color: white;
}

.recommended-directions img {
    height: 45rem;
    margin-left: 10rem;
}

.recommended-directions .about-content {
    position: absolute;
    top:10%;
    left: 25%;
    height: 70%;
    width: 60%;
    background: rgba(4, 91, 163, 0.5);
   /* background: linear-gradient(90deg, rgba(0,212,255,.5) 5%, rgba(18,140,172,.6) 63%, rgba(3,65,135,.7) 100%);*/
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommended-directions .about-content .title {
    flex: 0 0 6rem;
    width: 100%;
    margin-left: 10rem;
    margin-top: 2rem;
}

.recommended-directions .about-content .list {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-size: 1.5rem;
}

.recommended-directions .about-content .list ul {
    margin: 1rem 2rem;
    width: 100%;
}
.recommended-directions .about-content .list ul li {
    margin: 1rem;
    padding: 0 1rem;
}

.recommended-directions .about-content .list ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color .5s;
}

.recommended-directions .about-content .list ul li:hover {
    background: rgba(64, 120, 167, 0.5);
}

.recommended-directions .about-content .info {
    background-color:  rgba(4, 91, 163, 1);
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.recommended-directions .about-content .info ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

/*  about */
.about {
 background-color: var(--secondary-color);
 width: 100%;
}

.about *  {
    color: white;
}

/* best proces*/
#best-prices {
    width: 100%;
}

.best-prices {
    display: flex;
    flex-flow: row wrap;
}

.best-prices .card {
    flex: 1;
    border: 1px solid var( --light-color);
    height: 36rem;
    margin: 2rem;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.best-prices .card .image {
    transform: translateZ(0);
    display: block;
}

.best-prices .card:hover .image img {
    transform: scale(1.2);
}

.best-prices .card .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.best-prices .card .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: white;
    text-align: left;
    padding: 1rem;
}

.best-prices .card .info >div {
    position: absolute;
    right: 10px;
    top: -40px;
    border-radius: 50%;
    background: white;
    width: 7rem;
    height: 7rem;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.best-prices .card .info li:last-child {
    margin-top: .6rem;
    text-align: right;
    color: var(--secondary-color);

}

.best-prices .card .info li:last-child * {
    font-size: 2.5rem;
}

/* testimonials */
.testimonials {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.testimonials .card {
    flex: 1;
    margin: .5rem;
}

.testimonials .card ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.testimonials .card p {
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    padding: .5rem;
}

.testimonials .card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: .5rem;
}