@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*  normalizacja układu strony*/
*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* podstawowa wielkośc frontu - 10px*/
html {
    font-size: 62.5%;   /* 10px */
    line-height: 1.6;
    height: 100%;
    overflow: hidden;
}
    
body {
    font-family: 'Open Sans', sans-serif;
    /*ustawienia pod efekt paralax*/
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
}
p {
    font-size: 1.6rem;
}

.page {
    display: flex;
    flex-direction: column;
}

/* Header */
#header {
    flex: 0 0 100%;
    width: 100vw;
    position: relative;
    overflow: hidden;
    padding: 30vw 0 5vw;
    transform-style: inherit;
    text-align: center;
    z-index: -1;
}

#header h1 {
    margin-top: -160px;
    color: var(--primary-color);
}

#header p {
    color: var(--secondary-color);
}

#header, #header:before {
    background: 50% 50% / cover;
}

#header:before {
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    min-height: 100vh;
    z-index: -2;
    content: '';
    background-image: url("/img/brown-on-seashore-near-mountain-1007657.jpg");
    background-size: cover;
    /*przesuwające się tło */
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
  /*  background-attachment: fixed;   statyczne tło */
}

/*Logo*/
.logo {
    display: flex;
    color: var(--secondary-color);
}

.logo:hover {
    opacity: .6;
    cursor: pointer;
}

.logo p {
    font-size: 1rem;
}

.logo > div {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left:  1rem;
}


/* Navbar */
#navbar {
    top: 0;
    left: 0;
    width: 100%;
    position: sticky;
    background: var(--light-color);
}

#navbar >div  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#navbar .nav-elements {
    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
}

#navbar .nav-elements * {
    margin: 0 .5rem;
}

#navbar .nav-elements span {
   display: flex;
   align-items: center;
   margin-left: 5%;
}

#navbar .nav-elements span:hover {
    opacity: .6;
    cursor: pointer;
}

#navbar ul {
    display: flex;
    list-style: none;
    font-size: 2rem;
}

#navbar ul li {
    padding: 0 1rem;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
}



#main {
    flex:1;
}

#footer {
    flex : 0 0 3rem;
    padding: .8rem;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}